---
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: docker-mailserver
  namespace: docker-mailserver
spec:
  secretName: docker-mailserver-certs
  isCA: false
  privateKey:
    algorithm: RSA
    encoding: PKCS1
    size: 2048
  dnsNames:
    - {{ docker_mailserver_host }}
  issuerRef:
    name: "{{ default_cluster_issuer }}" # cannot be proxied by Cloudflare, letsencrypt or ZeroSSL required
    kind: ClusterIssuer