# A dummy issuer that can generate certificates
# Its sole purpose is to issue our Org Root Certificate
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: zero-selfsigned
spec:
  selfSigned: {}
---
# Our Org CA certificate
apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ cert_manager__org__root_ca }}"
  namespace: "{{ cert_manager__namespace }}"
spec:
  isCA: true
  commonName: "{{ iac__root_domain }}'s org Root CA"
  secretName: "{{ cert_manager__org__root_ca }}"
  privateKey:
    algorithm: ECDSA
    size: 256
  issuerRef:
    name: zero-selfsigned
    kind: ClusterIssuer
    group: cert-manager.io
---
# This issuer will generate certificates based on our previously generated Org identity
# We can use this issuer in Ingress, Certficate...
apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: "{{ cert_manager__org__issuer }}"
spec:
  ca:
    secretName: "{{ cert_manager__org__root_ca }}"