apiVersion: apps/v1
kind: Deployment
metadata:
  name: technitium-dns-server
  namespace: default
  labels:
    app: technitium-dns
spec:
  replicas: 1
  selector:
    matchLabels:
      app: technitium-dns
  template:
    metadata:
      labels:
        app: technitium-dns
    spec:
      containers:
        - name: technitium-dns
          image: technitium/dns-server:latest
          ports:
            - containerPort: 5380 # For the web console
            - containerPort: 53   # For DNS queries
          volumeMounts:
            - name: dns-data
              mountPath: /etc/dns/config
      volumes:
        - name: dns-data
          persistentVolumeClaim:
            claimName: dns-data-pvc
