apiVersion: v1
kind: PersistentVolume
metadata:
  name: technitium-dns
  namespace: default
  labels:
    type: local
spec:
  storageClassName: "{{ storage_class_name }}"
  capacity:
    storage: 1Gi 
  local:
    path: {{ technitium_dns_pv_path }}
  persistentVolumeReclaimPolicy: Retain
  accessModes:
    - ReadWriteOnce #
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
              - {{ master_node_name }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: dns-data-pvc
  namespace: default
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 1Gi