apiVersion: v1
kind: Service
metadata:
  name: technitium-dns-service
  namespace: default
spec:
  selector:
    app: technitium-dns
  ports:
    - name: app
      protocol: TCP
      port: 5380
      targetPort: 5380
    - name: dns-udp
      protocol: UDP
      port: 53
      targetPort: 53
    - name: dns-tcp
      protocol: TCP
      port: 53
      targetPort: 53
