apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: letsencrypt-prod
spec:
  acme:
    # The ACME server URL
    server: https://acme-v02.api.letsencrypt.org/directory
    # Email address used for ACME registration
    email: "{{ iac__postmaster_email }}"
    # Name of a secret used to store the ACME account private key
    privateKeySecretRef:
      name: letsencrypt-prod
    solvers:
      # http01 does not allow wildcard issuing
      # - http01:
      #    ingress:
      #      ingressClassName: "{{ iac__ingress_nginx_class }}"
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: "{{ k8s__cert_manager__dns01__solver_secret }}"
              key: "{{ k8s__cert_manager__dns01__solver_secret_key }}"