apiVersion: v1
kind: PersistentVolume
metadata:
  name: matomo-archive
  labels:
    type: local
    name: matomo-archive
spec:
  storageClassName: "{{ local_storage_class_name }}"
  capacity:
    storage: 5Gi 
  local:
    path: {{ matomo_pv_archive_path }}
  persistentVolumeReclaimPolicy: Retain
  accessModes:
    - ReadWriteMany
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
              - {{ master_node_name }}
