---
apiVersion: v1
kind: Secret
metadata:
  name: listmonk-admin
  namespace: listmonk
stringData:
  LISTMONK_app__admin_username: "{{ listmonk_admin_username }}"
  LISTMONK_app__admin_password: "{{ listmonk_admin_password }}"