apiVersion: batch/v1
kind: Job
metadata:
  name: "{{ k8s__odoo_community__metadata_name }}-init"
  namespace: "{{ k8s__odoo_community__namespace }}"
spec:
  # Optionally, set a backoff limit to control retries (default is 6)
  backoffLimit: 1
  ttlSecondsAfterFinished: 100 # will clean up the job after 100 seconds
  template:
    metadata:
      labels:
        app: "{{ k8s__odoo_community__app_selector_name }}"
    spec:
      restartPolicy: Never
      initContainers:
{% for addon_name, addon_info in k8s__odoo_community__addons.items() %}
        - name: {{ addon_name }}-addons
          image: registry.k8s.io/git-sync/git-sync:v4.4.0
          args:
            - "--repo={{ addon_info.url }}"
            - "--ref={{ addon_info.branch }}"
            - "--root=/tmp/git"
            - "--period=30s"
            - "--depth=1"
            - "--one-time"
          securityContext:
            runAsUser: 0
          volumeMounts:
            - mountPath: /tmp/git
              subPath: {{ addon_name }}
              name: extra-addons
{% endfor %}

      containers:
        - name: odoo
          image: "{{ k8s__odoo_community__odoo_docker_image }}"
          imagePullPolicy: IfNotPresent
            # https://github.com/odoo/odoo/blob/18.0/odoo/tools/config.py
            # https://odoo-development.readthedocs.io/en/latest/index.html
          args:
            - '-i'
            - {{ k8s__odoo_community__odoo_included_modules | join(',') | quote }}
            - --load-language
            - {{ iac__prefered_lang }}
            - --stop-after-init
          securityContext:
            runAsUser: 0
            runAsGroup: 0
          volumeMounts:
            - name: data
              mountPath: "{{ k8s__odoo_community__odoo_instance__data_dir }}"
              subPath: data
              readOnly: false
            - name: extra-addons
              mountPath: "{{ k8s__odoo_community__odoo_instance__addons_dir }}"
              readOnly: true
            - name: config
              mountPath: /etc/odoo
              readOnly: true

      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: "{{ k8s__odoo_community__metadata_name }}"
        - name: config
          secret:
            secretName: "{{ k8s__odoo_community__metadata_name }}"
        - name: extra-addons
          persistentVolumeClaim:
            claimName: extra-addons
