apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: odoo
  namespace: "{{ k8s__odoo_community__namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
