apiVersion: v1
kind: Secret
metadata:
  name: odoo
  namespace: "{{ k8s__odoo_community__namespace }}"
stringData:
  # https://github.com/odoo/docker/blob/master/18.0/odoo.conf
  # https://github.com/odoo/odoo/blob/18.0/odoo/tools/config.py
  # https://odoo-development.readthedocs.io/en/latest/index.html
  # admin:admin is the default user/password combo
  # few options wont be interpreted from odoo.conf (https://github.com/odoo/odoo/blob/18.0/odoo/tools/config.py#L87)
  odoo.conf: |
    [options]
    addons_path = {{ k8s__odoo_community__odoo_instance_addons_dir }}
    ;;; "proxy_mode" is required in a k8s cluster
    proxy_mode = True
    db_host = {{ k8s__odoo_community__db__config__host }}
    ; db_user = {{ k8s__odoo_community__db__config__username }} @WARNING, DO NOT USE THIS, WONT WORK
    ; db_password = {{ k8s__odoo_community__db__config__password }} @WARNING, DO NOT USE THIS, WONT WORK
    data_dir = {{ k8s__odoo_community__odoo_instance_data_dir }}
    ;;; "admin_passwd" is the "Master Password" that would allow odoo databases manipulations on /web/database/manager
    admin_passwd = {{ iac__postmaster_password }}
    ; csv_internal_sep = ,
    ; db_maxconn = 64
    ;;; uncomment "db_name" to allow auto-creation of initial database
    db_name = {{ k8s__odoo_community__odoo_instance_db_name }}
    ;;; "db_template" has:
    ;;; - template0: This is a pristine template that is kept unmodified. It’s mainly reserved for emergency use or when you need to create a database without any local modifications.
    ;;; - template1: This is the default template used for creating new databases. It’s the one that most Odoo installations use (via the db_template configuration parameter, which by default is set to “template1”).
    db_template = template0
    ;;; Both "language" and "load_language" must be set for default database to be properly internationalized
    language = {{ iac__prefered_lang }}
    ; load_language = {{ iac__prefered_lang }}
    ;;; "without_demo = all" strip all demo data from all modules
    without_demo = all
    ; dbfilter = .*
    ; debug_mode = False
    ; email_from = False
    ; limit_memory_hard = 2684354560
    ; limit_memory_soft = 2147483648
    ; limit_request = 8192
    ; limit_time_cpu = 60
    ; limit_time_real = 120
    ; list_db = True
    ; log_db = False
    ; log_handler = [':INFO']
    ; log_level = info
    ; logfile = None
    ; longpolling_port = 8072
    ; max_cron_threads = 2
    ; osv_memory_age_limit = 1.0
    ; osv_memory_count_limit = False
    smtp_password = {{ iac__donotreply_password }}
    smtp_port = {{ docker_mailserver__internal_smtp_preferred_port }}
    smtp_server = {{ docker_mailserver__internal_smtp_server }}
    smtp_ssl = True
    smtp_user = {{ iac__donotreply_username }}
    workers = 4
    ; xmlrpc = True
    ; xmlrpc_interface = 
    ; xmlrpc_port = 8069
    ; xmlrpcs = True
    ; xmlrpcs_interface = 
    ; xmlrpcs_port = 8071
  odoo_debug.conf: |
    [options]
    db_host = {{ k8s__odoo_community__db__config__host }}
    data_dir = {{ k8s__odoo_community__odoo_instance_data_dir }}
    db_name = {{ k8s__odoo_community__odoo_instance_db_name }}
    debug_mode = True
    xmlrpc = False
    xmlrpcs = False