apiVersion: v1
kind: Secret
metadata:
  name: odoo
  namespace: "{{ k8s__odoo_community__namespace }}"
stringData:
  #
  ODOO_DATABASE_PASSWORD: "{{ k8s__odoo_community__db__config__password }}"
  #
  ODOO_EMAIL: "{{ iac__postmaster_username }}@{{ iac__root_domain }}"
  ODOO_PASSWORD: "{{ iac__postmaster_password }}"
  #
  ODOO_SMTP_USER: "{{ iac__donotreply_username }}"
  ODOO_SMTP_PASSWORD: "{{ iac__donotreply_password }}"

