apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ docker_mailserver__server_hostname }}-discover-autoconfig"
  namespace: "{{ docker_mailserver__namespace }}"
immutable: false
data:
  COMPANY_NAME: {{ iac__root_domain }}
  SUPPORT_URL: "https://{{ k8s__docker_mailserver__external_hostname__autodiscover }}"
  DOMAIN: {{ iac__root_domain }}
  # IMAP configuration (host mandatory to enable)
  IMAP_HOST: "{{ docker_mailserver__external_hostname }}"
  IMAP_PORT: '143'
  IMAP_SOCKET: STARTTLS
  # SMTP configuration (host mandatory to enable)
  SMTP_HOST: "{{ docker_mailserver__external_hostname }}"
  SMTP_PORT: '587'
  SMTP_SOCKET: STARTTLS