apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ docker_mailserver__server_hostname }}-discover-autoconfig"
  namespace: "{{ docker_mailserver__namespace }}"
spec:
  selector:
    matchLabels:
      app: "{{ docker_mailserver__server_hostname }}-discover-autoconfig"
  template:
    metadata:
      labels:
        app: "{{ docker_mailserver__server_hostname }}-discover-autoconfig"
    spec:
      containers:
        - name: "{{ docker_mailserver__server_hostname }}-discover-autoconfig"
          image: monogramm/autodiscover-email-settings:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: manifest-app
              containerPort: 8000
              protocol: TCP
          envFrom:
            - configMapRef:
                name: "{{ docker_mailserver__server_hostname }}-discover-autoconfig"
      restartPolicy: Always