apiVersion: apps/v1
kind: Deployment
metadata:
  name: discover-autoconfig
  namespace: "{{ docker_mailserver__namespace }}"
spec:
  selector:
    matchLabels:
      app: discover-autoconfig
  template:
    metadata:
      labels:
        app: discover-autoconfig
    spec:
      containers:
        - name: discover-autoconfig
          image: monogramm/autodiscover-email-settings:latest
          imagePullPolicy: IfNotPresent
          ports:
            - name: manifest-app
              containerPort: 8000
              protocol: TCP
          envFrom:
            - configMapRef:
                name: discover-autoconfig
      restartPolicy: Always