apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ docker_mailserver__server_hostname }}-discover-autoconfig"
  namespace: "{{ docker_mailserver__namespace }}"
  annotations:
    # when using Cloudflare's proxied DNS record
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    #
    external-dns.alpha.kubernetes.io/hostname: "{{ k8s__docker_mailserver__external_hostname__autoconfig }}"
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
    #
    ingress-dashboard/title: E-mail autoconfig
    ingress-dashboard/description: Allows automatic configuration of {{ iac__root_domain }} mails on most email clients
    ingress-dashboard/logo-url: /favicon.ico
    ingress-dashboard/assume-tls: "true"
    ingress-dashboard/hide: "false"
spec:
  ingressClassName: "{{ iac__ingress_nginx_class }}"
  tls:
    - secretName: "{{ k8s__docker_mailserver__cert_secret_name }}"
      hosts: 
        - "{{ k8s__docker_mailserver__external_hostname__autoconfig }}"
  rules:
    - host: "{{ k8s__docker_mailserver__external_hostname__autoconfig }}"
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service: 
              name: "{{ docker_mailserver__server_hostname }}-discover-autoconfig"
              port:
                name: manifest-app