apiVersion: v1
kind: Service
metadata:
  name: discover-autoconfig
  namespace: "{{ docker_mailserver__namespace }}"
  labels:
    app: discover-autoconfig
spec:
  selector:
    app: discover-autoconfig
  ports:
    # smtp
    - name: manifest-app
      port: 8000
      targetPort: manifest-app
      protocol: TCP