apiVersion: traefik.containo.us/v1alpha1
kind: IngressRoute
metadata:
  name: posthog-proxy
  namespace: "{{ k8s__posthog_proxy__namespace }}"
spec:
  entryPoints:
    - websecure
    - web
  routes:
    - match: Host(`{{ k8s__posthog_proxy__external_hostname }}`) && PathPrefix(`/`)
      kind: Rule
      priority: 10
      services:
        - name: posthog-proxy
          port: 443
          scheme: https
    - match: Host(`{{ k8s__posthog_proxy__external_hostname }}`) && PathPrefix(`/static`)
      kind: Rule
      priority: 20
      services:
        - name: posthog-assets-proxy
          port: 443
          scheme: https
  tls: {}