apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: posthog-proxy
  namespace: "{{ k8s__posthog_proxy__namespace }}"
  annotations:
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
    external-dns.alpha.kubernetes.io/hostname: "{{ k8s__posthog_proxy__subdomain }}.{{ external_hostname }}"
    #
    traefik.ingress.kubernetes.io/router.middlewares: "{{ k8s__posthog_proxy__namespace }}-set-host-header@kubernetescrd"
spec:
  rules:
  - host: "{{ k8s__posthog_proxy__subdomain }}.{{ external_hostname }}"
    http:
      paths:
      - pathType: Prefix
        path: /
        backend:
          service:
            name: posthog-proxy
            port:
              name: https
      - pathType: Prefix
        path: /static
        backend:
          service:
            name: posthog-assets-proxy
            port:
              name: https