# https://posthog.com/docs/advanced/proxy
apiVersion: traefik.io/v1alpha1
kind: Middleware
metadata:
  name: set-host-header
  namespace: "{{ k8s__posthog_proxy__namespace }}"
spec:
  headers:
    customRequestHeaders:
      Host: "{{ k8s__posthog_proxy__vhost }}"