apiVersion: v1
kind: Secret
metadata:
  name: pre-defined-secret
  namespace: arc-runners
type: Opaque
stringData:
  github_app_id: "{{ arc_github_app_app_id }}"
  github_app_installation_id: "{{ arc_github_app_installation_id }}"
  github_app_private_key: "{{ arc_github_app_priv_key }}"