apiVersion: v1
kind: Secret
metadata:
  name: "{{ k8s__calcom__app__name }}"
  namespace: "{{ k8s__calcom__namespace }}"
stringData:
  #
  DATABASE_URL: postgresql://{{ k8s__calcom__postgres__db_user }}:{{ k8s__calcom__postgres__db_password }}@{{ k8s__calcom__postgres__internal_hostname }}/{{ k8s__calcom__postgres__db_name }}
  NEXT_PUBLIC_WEBAPP_URL: https://{{ k8s__calcom__external_hostname }}

  # It is highly recommended that the NEXTAUTH_SECRET must be overridden and very unique
  # Use `openssl rand -base64 32` to generate a key
  NEXTAUTH_SECRET: "{{ calcom__auth_secret }}"

  # Encryption key that will be used to encrypt CalDAV credentials, choose a random string, for example with `dd if=/dev/urandom bs=1K count=1 | md5sum`
  CALENDSO_ENCRYPTION_KEY: "{{ calcom__calendso_encryption_key }}"

  #
  NEXT_PUBLIC_COMPANY_NAME: "{{ u_vault_iac__ldap_org }}"

  #
  NEXTAUTH_ENABLED: true
  NEXTAUTH_URL: https://{{ k8s__calcom__external_hostname }}
  OIDC_CLIENT_ID: "{{ k8s__calcom__dex__oidc_id}}"
  OIDC_CLIENT_SECRET: "{{ k8s__calcom__dex__oidc_secret }}"
  OIDC_ISSUER: http://{{ k8s__calcom__dex__internal_hostname }}
