apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-notifications-cm
  namespace: argocd
data:
  service.github: |
    appID: "{{ argocd_github_app_app_id }}"
    installationID: "{{ argocd_github_app_installation_id }}"
    privateKey: $github-privateKey
