apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db
  namespace: "{{ k8s__matomo_namespace }}"
spec:
  storageClassName: "{{ iac__local_storage__class_name }}"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi
  selector: 
    matchLabels: 
      name: matomo-db