apiVersion: v1
kind: ConfigMap
metadata:
  name: roundcube.staging-ssl.config
  namespace: "{{ docker_mailserver__namespace }}"
data:
  more.inc.php: |
    <?php

    $config['smtp_conn_options'] = [
        'ssl' => [
            'verify_peer'  => false
        ]
    ];

    $config['imap_conn_options'] = [
        'ssl' => [
            'verify_peer'  => false
        ]
    ];
