apiVersion: apps/v1
kind: Deployment
metadata:
  name: roundcube
  namespace: docker-mailserver
spec:
  selector:
    matchLabels:
      app: roundcube
  template:
    metadata:
      labels:
        app: roundcube
    spec:
      containers:
        - name: roundcubemail
          image: roundcube/roundcubemail:latest
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: data
              mountPath: /var/www/html
              subPath: www
              readOnly: false

            {% if k8s__docker_mailserver_roundcube_check_mailserver_certs %}

            - name: config
              mountPath: /var/roundcube/config/more.inc.php
              subPath: more.inc.php
              readOnly: true

            {% else %}

            - name: data
              mountPath: /var/roundcube/config
              subPath: config
              readOnly: false

            {% endif %}

            - name: data
              mountPath: /var/roundcube/db
              subPath: db
              readOnly: false
          ports:
            - name: app
              containerPort: 80
              protocol: TCP
          envFrom:
            - configMapRef:
                name: roundcube
      restartPolicy: Always
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: roundcube
            
        {% if k8s__docker_mailserver_roundcube_check_mailserver_certs %}

        - name: config
          configMap:
            name: roundcube.staging-ssl.config

        {% endif %}