apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: roundcube
  namespace: "{{ docker_mailserver__namespace }}"
  annotations:
    #
    external-dns.alpha.kubernetes.io/hostname: "{{ k8s__docker_mailserver__external_hostname__webmail }}"
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
    #
    ingress-dashboard/title: Roundcube
    ingress-dashboard/description: Embedded UI to access {{ iac__root_domain }} emails
    ingress-dashboard/logo-url: /favicon.ico
    ingress-dashboard/assume-tls: "true"
    ingress-dashboard/hide: "false"
spec:
  rules:
    - host: "{{ k8s__docker_mailserver__external_hostname__webmail }}"
      http:
        paths:
        - path: /
          pathType: Prefix
          backend:
            service: 
              name: roundcube
              port:
                name: app
