apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: roundcube
  namespace: "{{ docker_mailserver__namespace }}"
  annotations:
    #
    cert-manager.io/cluster-issuer: "{{ cert_manager__org__issuer }}"
    #
    nginx.ingress.kubernetes.io/ssl-redirect: "false" # when using Cloudflare's proxied DNS record
    traefik.ingress.kubernetes.io/service.serversscheme: "http"
    nginx.ingress.kubernetes.io/rewrite-target: /
      #
    ingress-dashboard/title: Roundcube
    ingress-dashboard/description: Embedded UI to access {{ iac__root_domain }} emails
    ingress-dashboard/logo-url: /favicon.ico
    ingress-dashboard/assume-tls: "true"
    ingress-dashboard/hide: "false"
spec:
  ingressClassName: "{{ iac__ingress_class_name }}"
  rules:
  - host: "{{ k8s__docker_mailserver__external_hostname__webmail }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service: 
            name: roundcube
            port:
              name: app
---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/permanent-redirect: https://{{ k8s__docker_mailserver__external_hostname__webmail }}
    ingress-dashboard/hide: "true"
  name: roundcube-alt
  namespace: "{{ docker_mailserver__namespace }}"
spec:
  ingressClassName: "{{ iac__ingress_class_name }}"
  rules:
    - host: "{{ docker_mailserver__external_hostname }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: roundcube
                port:
                  name: app
  tls:
    - hosts:
        - "{{ docker_mailserver__external_hostname }}"
      secretName: "{{ k8s__docker_mailserver__cert_secret_name }}"
