apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: roundcube
  namespace: "{{ docker_mailserver__namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi