apiVersion: v1
kind: Service
metadata:
  name: roundcube
  namespace: docker-mailserver
  labels:
    app: roundcube
spec:
  type: LoadBalancer
  selector:
    app: roundcube
  ports:
    - name: app
      port: 80
      targetPort: app
      protocol: TCP
