apiVersion: v1
kind: Service
metadata:
  name: roundcube
  namespace: "{{ docker_mailserver__namespace }}"
  labels:
    app: roundcube
spec:
  selector:
    app: roundcube
  ports:
    - name: app
      port: 80
      targetPort: app
      protocol: TCP
