apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: self-service-password
  namespace: openldap-stack
  annotations:
    # when using Cloudflare's proxied DNS record
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    cert-manager.io/cluster-issuer: "{{ org_ca_name }}"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTP"
    #
    ingress-dashboard/title: LDAP Password reset
    ingress-dashboard/description: Allows LDAP users to manager their passwords
    ingress-dashboard/logo-url: /images/favicon.ico
    ingress-dashboard/assume-tls: "true"
    ingress-dashboard/hide: "false"
    #
    cloudflare-access/must-secure: "false"
spec:
  ingressClassName: "{{ ingress_nginx_class }}"
  rules:
  - host: pwd-ldap.{{ root_domain }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service: 
            name: self-service-password
            port:
              name: app