apiVersion: v1
kind: Secret
metadata:
  name: self-service-password
  namespace: openldap-stack
type: opaque
stringData:
  # https://self-service-password.readthedocs.io/en/latest/installation.html#docker
  # https://github.com/ltb-project/self-service-password/blob/master/conf/config.inc.php
  ssp.conf.php: |
    <?php

    # Debug mode
    # true: log and display any errors or warnings (use this in configuration/testing)
    # false: log only errors and do not display them (use this in production)
    $debug = true;

    # LDAP
    $ldap_url = "{{ openldap_stack__ldap_uri }}";
    $ldap_binddn = "{{ openldap_stack__ldap_admin_cn }}";
    $ldap_bindpw = "{{ openldap_stack__ldap_admin_pwd }}";
    $ldap_base = "{{ openldap_stack__dc_query_string }}";
    # $ldap_login_attribute = "uid";
    # $ldap_fullname_attribute = "cn";
    $ldap_filter = "(&(objectClass=inetOrgPerson)($ldap_login_attribute={login}))";

    # Hash mechanism for password:
    # SSHA, SSHA256, SSHA384, SSHA512
    # SHA, SHA256, SHA384, SHA512
    # SMD5
    # MD5
    # CRYPT
    # ARGON2
    # clear (the default)
    # auto (will check the hash of current password)
    # This option is not used with ad_mode = true
    $hash = "auto";
    # $hash_options=[];

    # Local password policy
    # This is applied before directory password policy
    # Minimal length
    $pwd_min_length = 6;
    # Maximal length
    $pwd_max_length = 30;
    # Minimal lower characters
    $pwd_min_lower = 1;
    # Minimal upper characters
    $pwd_min_upper = 1;
    # Minimal digit characters
    $pwd_min_digit = 1;
    # Minimal special characters
    $pwd_min_special = 1;

    ## Token
    # Use tokens?
    # true (default)
    # false
    $use_tokens = true;

    # Reset URL (mandatory)
    $reset_url = "https://{{ k8s__openldap__external_hostname__ssp }}/";

    ## Mail
    # LDAP mail attribute
    $mail_attributes = array( "mail", "gosaMailAlternateAddress", "proxyAddresses" );
    # Get mail address directly from LDAP (only first mail entry)
    # and hide mail input field
    # default = false
    $mail_address_use_ldap = true;
    # Who the email should come from
    $mail_from = "{{ donotreply_email }}";
    $mail_from_name = "Self Service Password";
    # $mail_signature = "";
    # Notify users anytime their password is changed
    $notify_on_change = true;
    # PHPMailer configuration (see https://github.com/PHPMailer/PHPMailer)
    # $mail_sendmailpath = '/usr/sbin/sendmail';
    $mail_protocol = 'smtps';
    # $mail_smtp_debug = 0;
    # $mail_debug_format = 'error_log';
    $mail_smtp_host = 'docker-mailserver.docker-mailserver';
    $mail_smtp_auth = true;
    $mail_smtp_user = '{{ donotreply_username }}';
    $mail_smtp_pass = '{{ orguser_donotreply_password }}';
    $mail_smtp_port = 587;
    $mail_smtp_timeout = 5;
    # $mail_smtp_keepalive = false;
    # $mail_smtp_secure = 'tls';
    # $mail_smtp_autotls = true;
    # $mail_smtp_options = array();
    # $mail_contenttype = 'text/plain';
    # $mail_wordwrap = 0;
    # $mail_charset = 'utf-8';
    # $mail_priority = 3;

    # Encryption, decryption keyphrase, required if $use_tokens = true and $crypt_tokens = true, or $use_sms, or $crypt_answer
    # Please change it to anything long, random and complicated, you do not have to remember it
    # Changing it will also invalidate all previous tokens and SMS codes
    $keyphrase = "{{ openldap_stack__ssp_keyphrase }}";

    # Default language
    $lang = "fr";

    $use_sms = false;
    $use_questions = false;

    # Logo
    $logo = "images/ltb-logo.png";

    # Background image
    $background_image = "images/unsplash-space.jpeg";

    # Path is relative to htdocs/html and the custom CSS file should be created in css/ directory. For example: "css/sample.css"
    $custom_css = "";
