apiVersion: v1
kind: Service
metadata:
  name: self-service-password
  namespace: "{{ openldap_stack__namespace }}"
  labels:
    app: self-service-password
spec:
  selector:
    app: self-service-password
  ports:
    - name: app
      port: 80
      targetPort: app
      protocol: TCP