apiVersion: v1
kind: ConfigMap
metadata:
  name: docker-mailserver
  namespace: docker-mailserver
immutable: false
data:
    POSTMASTER_ADDRESS: {{ postmaster_email }}
    OVERRIDE_HOSTNAME: {{ docker_mailserver_host }}
    TLS_LEVEL: modern
    POSTSCREEN_ACTION: drop
    FAIL2BAN_BLOCKTYPE: drop
    UPDATE_CHECK_INTERVAL: 10d
    POSTFIX_INET_PROTOCOLS: ipv4
    ENABLE_CLAMAV: '1'
    ENABLE_POSTGREY: '0' # enabling POSTGREY does some anoying delay :(
    ENABLE_FAIL2BAN: '1'
    AMAVIS_LOGLEVEL: '-1'
    # SPOOF_PROTECTION: '1'
    MOVE_SPAM_TO_JUNK: '1'
    ENABLE_UPDATE_CHECK: '1'
    ENABLE_SPAMASSASSIN: '1'
    SUPERVISOR_LOGLEVEL: warn
    SPAMASSASSIN_SPAM_TO_INBOX: '1'
    #
    SSL_TYPE: manual
    SSL_CERT_PATH: /secrets/ssl/rsa/tls.crt
    SSL_KEY_PATH: /secrets/ssl/rsa/tls.key