---
apiVersion: v1
kind: Secret
metadata:
  name: registry__ui-basic-auth
  namespace: "{{ docker_registry__namespace }}"
stringData:
  # "auth" is required
  auth: "{{ registry_ui_pwdpair_crypt | trim }}"