apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: {{ argocd_app_of_apps_name }}
  namespace: argocd
  annotations:
    notifications.argoproj.io/subscribe.on-sync-running.github: ""
    notifications.argoproj.io/subscribe.on-sync-failed.github: ""
    notifications.argoproj.io/subscribe.on-sync-succeeded.github: ""
    notifications.argoproj.io/subscribe.on-sync-status-unknown.github: ""
  finalizers:
  - resources-finalizer.argocd.argoproj.io # https://argo-cd.readthedocs.io/en/stable/operator-manual/cluster-bootstrapping/#cascading-deletion
spec:
  destination:
    namespace: argocd
    server: https://kubernetes.default.svc
  project: default
  source:
    path: apps
    repoURL: {{ argocd_app_of_apps_repository_url }}
    targetRevision: HEAD
  syncPolicy:
    automated: {}
    syncOptions:
    # - Validate=false # disables resource validation (equivalent to 'kubectl apply --validate=true')
    - CreateNamespace=true # Namespace Auto-Creation ensures that namespace specified as the application destination exists in the destination cluster.
