apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  annotations:
    nginx.ingress.kubernetes.io/proxy-body-size: "0"
    nginx.ingress.kubernetes.io/proxy-read-timeout: "600"
    nginx.ingress.kubernetes.io/proxy-send-timeout: "600"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
    #
    external-dns.alpha.kubernetes.io/hostname: "{{ k8s__docker_registry__external_hostname__images_server }}"
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "false"
  name: registry__images-server
  namespace: "{{ docker_registry__namespace }}"
spec:
  ingressClassName: nginx
  rules:
  - host: "{{ k8s__docker_registry__external_hostname__images_server }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: images-server
            port:
              number: 5000