apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ k8s__ez_appointments__db__name }}"
  namespace: "{{ k8s__ez_appointments__namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ k8s__ez_appointments__db__name }}"
  template:
    metadata:
      labels:
        app: "{{ k8s__ez_appointments__db__name }}"
    spec:
      containers:
        - name: "{{ k8s__ez_appointments__db__name }}"
          image: mysql:8.0
          imagePullPolicy: IfNotPresent
          ports:
            - name: db
              containerPort: 3306
              protocol: TCP
          volumeMounts:
            - name: db
              mountPath: /var/lib/mysql
              readOnly: false
          envFrom:
            - secretRef:
                name: "{{ k8s__ez_appointments__db__name }}"
      restartPolicy: Always
      volumes:
        - name: db
          persistentVolumeClaim:
            claimName: "{{ k8s__ez_appointments__db__name }}"