apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ k8s__ez_appointments__db__name }}"
  namespace: "{{ k8s__ez_appointments__namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 2Gi