apiVersion: v1
kind: Secret
metadata:
  name: "{{ k8s__ez_appointments__db__name }}"
  namespace: "{{ k8s__ez_appointments__namespace }}"
type: Opaque
stringData:
    MYSQL_ROOT_PASSWORD: "{{ k8s__ez_appointments__mysql_db__password }}"
    MYSQL_DATABASE: "{{ k8s__ez_appointments__mysql_db__name }}"