apiVersion: v1
kind: Service
metadata:
  name: "{{ k8s__ez_appointments__db__name }}"
  namespace: "{{ k8s__ez_appointments__namespace }}"
  labels:
    app: "{{ k8s__ez_appointments__db__name }}"
spec:
  type: ClusterIP
  selector:
    app: "{{ k8s__ez_appointments__db__name }}"
  ports:
    - name: db
      port: 3306
      targetPort: db
      protocol: TCP