apiVersion: v1
kind: ConfigMap
metadata:
  name: dms-config
  namespace: "{{ docker_mailserver__namespace }}"
immutable: false
data:
  #
  LOG_LEVEL: info
  #
  ENABLE_UPDATE_CHECK: "{{ k8s__docker_mailserver__prefer_edge | ternary('0', '1') }}"
  UPDATE_CHECK_INTERVAL: 10d
  #
  DMS_VMAIL_UID: "{{ docker_mailserver__users_group_id }}"
  DMS_VMAIL_GID: "{{ docker_mailserver__users_group_id }}"
  #
  TLS_LEVEL: modern
  SSL_TYPE: manual
  SSL_CERT_PATH: /secrets/ssl/rsa/tls.crt
  SSL_KEY_PATH: /secrets/ssl/rsa/tls.key
  #
  POSTMASTER_ADDRESS: "{{ iac__postmaster_email }}"
  OVERRIDE_HOSTNAME: "{{ docker_mailserver__external_hostname }}"
  SPOOF_PROTECTION: '1'
  #
  MOVE_SPAM_TO_JUNK: '1'
  POSTSCREEN_ACTION: drop
  POSTFIX_INET_PROTOCOLS: ipv4
  #
  ENABLE_CLAMAV: '0' # anti-virus, can consume a lot of ram / cpu, slowing down email handling
  ENABLE_POSTGREY: '0' # greylisting, enabling POSTGREY does some anoying delay :(
  #
  ENABLE_SPAMASSASSIN: '0' # well, is this needed ? slowing down email handling
  SPAMASSASSIN_SPAM_TO_INBOX: '1'
  #
  ENABLE_FAIL2BAN: '0' # too restrictive by default, see (https://github.com/Qalisa/IaC/issues/27)
  FAIL2BAN_BLOCKTYPE: drop

  # >>> Postfix LDAP Integration
  ACCOUNT_PROVISIONER: LDAP
  LDAP_SERVER_HOST: "{{ openldap_stack__ldap_uri }}"
  LDAP_BIND_DN: "{{ iac__ldap__admin__bind_dn }}"
  LDAP_SEARCH_BASE: "{{ iac__ldap__root_dc }}"
  LDAP_QUERY_FILTER_DOMAIN: (|({{ iac__ldap__username_attr }}=*@%s)(mailAlias=*@%s)(mailGroupMember=*@%s))
  LDAP_QUERY_FILTER_USER: (&(objectClass={{ iac__ldap__user_oc }})({{ iac__ldap__username_attr }}=%s))
  LDAP_QUERY_FILTER_ALIAS: (&(objectClass={{ iac__ldap__user_oc }})(mailAlias=%s))
  LDAP_QUERY_FILTER_GROUP: (&(objectClass={{ iac__ldap__user_oc }})(mailGroupMember=%s))
  LDAP_QUERY_FILTER_SENDERS: (|(mail=%s)(uid=postmaster)(uid=donotreply)) # allow postmaster and donotreply accounts to spoof
  # <<< Postfix LDAP Integration

  # >>> Dovecot LDAP Integration
  DOVECOT_USER_FILTER: (&(objectClass={{ iac__ldap__user_oc }})({{ iac__ldap__username_attr }}=%u))
  # <ldapField>=<dovecotField>
  # using a prepending "=" does a static value assignment instead of an LDAP binding
  DOVECOT_PASS_ATTRS: {{ [
    iac__ldap__username_attr ~ "=user",
    "userPassword=password",
  ] | join(',') }}
  DOVECOT_USER_ATTRS: {{ [
    '=home=' ~ k8s__docker_mailserver__local_mail_store_path ~ '/%d/%n',
    "=mail=maildir:~/Maildir",
    "uidNumber=uid",
    "gidNumber=gid"
  ] | join(',') }}
  # <<< Dovecot LDAP Integration

  # >>> SASL LDAP Authentication
  # https://docker-mailserver.github.io/docker-mailserver/latest/config/advanced/auth-ldap/#saslauthd_ldap_filter
  ENABLE_SASLAUTHD: '1'
  SASLAUTHD_MECHANISMS: rimap
  SASLAUTHD_MECH_OPTIONS: 127.0.0.1
  # @note since "%u" does not work per documentation above, we'll use rimap instead
  # SASLAUTHD_MECHANISMS: ldap
  # SASLAUTHD_LDAP_FILTER: (&(objectClass={{ iac__ldap__user_oc }})({{ iac__ldap__username_attr }}=%u))
  # <<< LDAP Authentication
