apiVersion: v1
kind: ConfigMap
metadata:
  name: docker-mailserver
  namespace: docker-mailserver
immutable: false
data:
  POSTMASTER_ADDRESS: {{ iac__postmaster_email }}
  OVERRIDE_HOSTNAME: {{ docker_mailserver__external_hostname }}
  TLS_LEVEL: modern
  POSTSCREEN_ACTION: drop
  FAIL2BAN_BLOCKTYPE: drop
  UPDATE_CHECK_INTERVAL: 10d
  POSTFIX_INET_PROTOCOLS: ipv4
  ENABLE_CLAMAV: '0' # anti-virus, can consume a lot of ram / cpu, slowing down email handling
  ENABLE_POSTGREY: '0' # greylisting, enabling POSTGREY does some anoying delay :(
  ENABLE_FAIL2BAN: '1'
  AMAVIS_LOGLEVEL: '-1'
  # SPOOF_PROTECTION: '1'
  MOVE_SPAM_TO_JUNK: '1'
  ENABLE_UPDATE_CHECK: '1'
  ENABLE_SPAMASSASSIN: '0' # well, is this needed ? slowing down email handling
  SUPERVISOR_LOGLEVEL: warn
  SPAMASSASSIN_SPAM_TO_INBOX: '1'
  #
  SSL_TYPE: manual
  SSL_CERT_PATH: /secrets/ssl/rsa/tls.crt
  SSL_KEY_PATH: /secrets/ssl/rsa/tls.key

  # >>> Postfix LDAP Integration
  ACCOUNT_PROVISIONER: LDAP
  LDAP_SERVER_HOST: "{{ openldap_stack__ldap_uri }}"
  LDAP_BIND_DN: "{{ openldap_stack__ldap_admin_cn }}"
  # LDAP_BIND_PW: mypassword defined as separate secret manifest !!
  LDAP_SEARCH_BASE: {{ openldap_stack__dc_query_string }}
  LDAP_QUERY_FILTER_DOMAIN: (|(mail=*@%s)(mailAlias=*@%s)(mailGroupMember=*@%s))
  LDAP_QUERY_FILTER_USER: (&(objectClass=inetOrgPerson)(mail=%s))
  LDAP_QUERY_FILTER_ALIAS: (&(objectClass=inetOrgPerson)(mailAlias=%s))
  LDAP_QUERY_FILTER_GROUP: (&(objectClass=inetOrgPerson)(mailGroupMember=%s))
  LDAP_QUERY_FILTER_SENDERS: (&(objectClass=inetOrgPerson)(|(mail=%s)(mailAlias=%s)(mailGroupMember=%s)))
  SPOOF_PROTECTION: '1'
  # <<< Postfix LDAP Integration

  # >>> Dovecot LDAP Integration
  DOVECOT_USER_FILTER: (&(objectClass=inetOrgPerson)(mail=%u))
  DOVECOT_PASS_ATTRS: mail=user,userPassword=password
  DOVECOT_USER_ATTRS: =home=/var/mail/%{ldap:uid},=mail=maildir:~/Maildir,uidNumber=uid,gidNumber=gid
  # <<< Dovecot LDAP Integration

  # >>> SASL LDAP Authentication
  ENABLE_SASLAUTHD: '1'
  SASLAUTHD_MECHANISMS: ldap
  SASLAUTHD_LDAP_FILTER: (&(mail=%U@{{ iac__root_domain }})(objectClass=inetOrgPerson))
  # SASLAUTHD_MECHANISMS: rimap
  # SASLAUTHD_MECH_OPTIONS: "127.0.0.1"
  # <<< LDAP Authentication
