apiVersion: v1
kind: ConfigMap
metadata:
  name: postfix-reject
  namespace: "{{ docker_mailserver__namespace }}"
immutable: false
data:
  header_checks.pcre: |
    /^To:.*{{ iac__donotreply_email | replace(".", "\.") }}/ REJECT