apiVersion: v1
kind: PersistentVolume
metadata:
  name: docker-mailserver
  labels:
    type: local
spec:
  storageClassName: "{{ iac__local_storage__class_name }}"
  capacity:
    storage: 25Gi 
  local:
    path: {{ iac__pv_path__docker_mailserver }}
  persistentVolumeReclaimPolicy: Retain
  accessModes:
    - ReadWriteOnce #
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
              - {{ iac__master_node_name }}
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: docker-mailserver
  namespace: docker-mailserver
spec:
  storageClassName: {{ iac__local_storage__class_name }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 25Gi