apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ docker_mailserver__server_hostname }}"
  namespace: "{{ docker_mailserver__namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 25Gi