apiVersion: v1
kind: Service
metadata:
  name: "{{ docker_mailserver__server_hostname }}"
  namespace: "{{ docker_mailserver__namespace }}"
  labels:
    app: "{{ docker_mailserver__server_label }}"
spec:
  type: LoadBalancer
  selector:
    app: "{{ docker_mailserver__server_label }}"
  ports:
    # smtp
    - name: smtp
      port: 25
      targetPort: smtp
      protocol: TCP
    # submissions (ESMTP with implicit TLS)
    - name: submissions
      port: 465
      targetPort: submissions
      protocol: TCP
    # submission (ESMTP with explicit TLS)
    - name: submission
      port: 587
      targetPort: submission
      protocol: TCP
    # imap (explicit TLS)
    - name: imap
      port: 143
      targetPort: imap
      protocol: TCP
    # imaps (implicit TLS)
    - name: imaps
      port: 993
      targetPort: imaps
      protocol: TCP
