apiVersion: v1
kind: Secret
metadata:
  name: github-app-secrets
  namespace: sentry
type: Opaque
stringData:
  webhook-secret: "{{ sentry_github_webhookSecret }}"
  client-id: "{{ sentry_github_clientId }}"
  client-secret: "{{ sentry_github_clientSecret }}"
  private-key: |
    {{ sentry_github_privateKey | indent(4) }}