# https://kubernetes.github.io/ingress-nginx/user-guide/exposing-tcp-udp-services/
# https://docker-mailserver.github.io/docker-mailserver/edge/config/advanced/kubernetes/#separate-proxy-protocol-ports-for-ingress
# see group_vars/k8s_cluser/addons.yml:ingress_nginx_extra_args[]
apiVersion: v1
kind: ConfigMap
metadata:
  name: tcp-services
  namespace: ingress-nginx
data:
  25:  "docker-mailserver/docker-mailserver:25" # removed ::PROXY
  465: "docker-mailserver/docker-mailserver:465" # removed ::PROXY
  587: "docker-mailserver/docker-mailserver:587" # removed ::PROXY
  143: "docker-mailserver/docker-mailserver:143" # removed ::PROXY
  993: "docker-mailserver/docker-mailserver:993" # removed ::PROXY