apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: "{{ k3s__default_namespace }}"
spec:
  valuesContent: |-
    experimental:
      plugins:
        ldapAuth:
          moduleName: "github.com/wiltonsr/ldapAuth"
          version: "v0.1.10"
    globalArguments:
      - "--serversTransport.insecureSkipVerify=true"
    additionalArguments:
      - "--api"
      - "--api.dashboard=true"
      - "--api.insecure=true"
    providers:
        allowCrossNamespace: true
    ports:
      web:
        redirections:
          entryPoint:
            to: "websecure"
            scheme: "https"
            permanent: true
      websecure:
        tls:
          certResolver: default
