apiVersion: v1
kind: Secret
metadata:
  name: github-app-secrets
  namespace: sentry
type: Opaque
stringData:
  webhook-secret: "{{ sentry__github_webhookSecret }}"
  client-id: "{{ sentry__github_clientId }}"
  client-secret: "{{ sentry__github_clientSecret }}"
  private-key: |
    {{ sentry__github_privateKey | indent(4) }}