apiVersion: cloudflare.zelic.io/v1alpha1
kind: CloudflareAccessApplication
metadata:
  name: "{{ k8s__hc_vault__external_hostname }}"
  namespace: "{{ k8s__hc_vault_namespace }}"
  annotations:
    # (optional) default: "false"
    #   ensures that the resource isn't removed from cloudflare if the CR is deleted
    cloudflare.zelic.io/prevent-destroy: "false"
spec:
  name: "{{ k8s__hc_vault__external_hostname }}"
  domain: "{{ k8s__hc_vault__external_hostname }}"
  autoRedirectToIdentity: true
  policies: 
    - name: Allow my rules
      decision: allow
      include:
        - accessGroups:
          - value: "accessgroup-root-domain"