#
# https://www.kristhecodingunicorn.com/post/kubernetes-service-to-proxy-to-external-services/
#

apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: webmin
  namespace: webmin
  labels:
    kubernetes.io/service-name: webmin
addressType: IPv4
ports:
  - name: app
    protocol: TCP
    port: 10000
endpoints:
  - addresses:
      - "{{ webmin_ip_bind }}"
    conditions:
      ready: true
    # hostname: pod-1
    nodeName: {{ iac__master_node_name }}
    # zone: us-west2-as
