apiVersion: v1
kind: ConfigMap
metadata:
  name: config
  namespace: "{{ github_arc_runners_ns }}"
data:
  buildkitd.toml: |
    insecure-entitlements = [ "network.host", "security.insecure" ]

    [registry."{{ registry_host }}"]
    http = false
    insecure = true
