apiVersion: v1
kind: Secret
metadata:
  name: regcred
  namespace: "{{ github_arc_runners_ns }}"
type: kubernetes.io/dockerconfigjson
data:
  .dockerconfigjson: {{ dockerconfigjson | to_json | b64encode }}