apiVersion: v1
kind: Secret
metadata:
  name: gh-app
  namespace: "{{ k8s__github_arc__runners_ns }}"
type: Opaque
stringData:
  github_app_id: "{{ github_arc__github_app__app_id }}"
  github_app_installation_id: "{{ github_arc__github_app__installation_id }}"
  github_app_private_key: |
    {{ github_arc__github_app__priv_key | indent(4) }}
