# api_version: v1 # Not needed ?
kind: Namespace
metadata:
    name: "{{ k8s__github_arc__runners_ns }}"
    labels:
      # makes the default Org Root CA available within this namespace's Secrets
      trust: enabled