apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: buildkit-cache
  namespace: "{{ k8s__github_arc__runners_ns }}"
spec:
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 30Gi