apiVersion: v1
kind: Service
metadata:
  name: registry
  namespace: kube-system
spec:
  selector:
    k8s-app: registry
  ports:
    - name: registry
      protocol: TCP
      port: 443
      targetPort: registry