apiVersion: cert-manager.io/v1
kind: Certificate
metadata:
  name: "{{ registry_cert_secret_name }}"
  namespace: kube-system
spec:
  secretName: "{{ registry_cert_secret_name }}"
  duration: 24h
  renewBefore: 12h
  issuerRef:
    name: "{{ org_ca_name }}"
    kind: ClusterIssuer
  commonName: "{{ org_ca_name }}'s org private image registry"
  dnsNames:
    - "{{ registry_host }}"