apiVersion: v1
kind: PersistentVolume
metadata:
  name: hc-vault-{{ item }}
  labels:
    type: local
spec:
  storageClassName: "{{ storage_class_name }}"
  capacity:
    storage: 10Gi 
  local:
    path: "{{ hc_vault_pv_path }}/{{ item }}"
  persistentVolumeReclaimPolicy: Retain
  accessModes:
    - ReadWriteOnce #
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
              - {{ master_node_name }}