apiVersion: v1
kind: ConfigMap
metadata:
  name: static
  namespace: "{{ k8s__ingress_book__namespace }}"
data:
  # https://ingress-dashboard.reddec.net/configuration/static-source.html
  static.yaml: