apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ k8s__github_push_secrets_operator__global_secvar_name }}"
  namespace: "{{ k8s__github_push_secrets_operator__namespace }}"
data:
  PREFERRED_RUNS_ON: ubuntu-latest
  DOCKER_PRIVATE_REGISTRY_DOMAIN: "{{ harbor__external_hostname }}"
