debugLevel = 1
#0(only errors)-4(complete data received)

skip_addresses = 127.0.0.0/8,::ffff:127.0.0.0/104,::1

# Preferably use IP-Addresses for whitelist lookups:
Whitelist = 192.168.0.0/31,192.168.1.0/30,{{ iac__k3s__servicelb__ip_range }}
# Domain_Whitelist = mx1.not-example.com,mx2.not-example.com