apiVersion: v1
kind: Secret
metadata:
  name: gh-app
  namespace: "{{ github_arc_runners_ns }}"
type: Opaque
stringData:
  github_app_id: "{{ arc_github_app_app_id }}"
  github_app_installation_id: "{{ arc_github_app_installation_id }}"
  github_app_private_key: |
    {{ arc_github_app_priv_key | indent(4) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: gha-cache-access
  namespace: "{{ github_arc_runners_ns }}"
stringData:
  ACTIONS_CACHE_URL: "{{ github_arc_cache_url }}/{{ github_arc_access_token }}/"
