apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: lam
  namespace: "{{ openldap_stack__namespace }}"
  annotations:
    #
    external-dns.alpha.kubernetes.io/hostname: "{{ k8s__openldap__external_hostname__lam }}"
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
    #
    ingress-dashboard/title: LDAP Accounts Manager
    ingress-dashboard/description: Allows to manage LDAP users and configuration
    ingress-dashboard/logo-url: /lam/graphics/favicon.ico
    ingress-dashboard/assume-tls: "true"
    ingress-dashboard/hide: "false"
spec:
  ingressClassName: "{{ iac__ingress_class_name }}"
  rules:
  - host: "{{ k8s__openldap__external_hostname__lam }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service: 
            name: lam
            port:
              name: app
