apiVersion: v1
kind: Secret
metadata:
  name: lam
  namespace: openldap-stack
type: Opaque
stringData:
  # LAM configuration master password and password for server profile "lam"
  LAM_PASSWORD: "{{ openldap_stack__ldap_admin_pwd }}"
  # LDAP admin password
  LDAP_ADMIN_PASSWORD: "{{ openldap_stack__ldap_admin_pwd }}"
  # password for LDAP read-only user
  LDAP_READONLY_USER_PASSWORD: "{{ openldap_stack__ldap_admin_pwd }}"