apiVersion: v1
kind: Secret
metadata:
  name: lam
  namespace: "{{ openldap_stack__namespace }}"
type: Opaque
stringData:
  # LAM configuration master password and password for server profile "lam"
  LAM_PASSWORD: "{{ iac__ldap__admin__bind_pw }}"
  # LDAP admin password
  LDAP_ADMIN_PASSWORD: "{{ iac__ldap__admin__bind_pw }}"
  # password for LDAP read-only user
  LDAP_READONLY_USER_PASSWORD: "{{ iac__ldap__admin__bind_pw }}"