apiVersion: v1
kind: Service
metadata:
  name: lam
  namespace: openldap-stack
  labels:
    app: lam
spec:
  type: LoadBalancer
  selector:
    app: lam
  ports:
    - name: app
      port: 80
      targetPort: app
      protocol: TCP