[inet_http_server]                                              ; inet (TCP) server disabled by default
port=*:{{ k8s__docker_mailserver__supervisord_ui__port }}       ; (ip_address:port specifier, *:port for all iface)
username={{ docker_mailserver__supervisord_ui__user }}          ; (default is no username (open server))
password={{ docker_mailserver__supervisord_ui__password }}      ; (default is no password (open server))
