# https://artifacthub.io/packages/helm/runix/pgadmin4?modal=template&template=server-definitions-secret.yaml
# https://www.pgadmin.org/docs/pgadmin4/8.13/import_export_servers.html#json-format
# @info cannot put passwords in there
# @notice Please prefer updating this later on with >>
## ansible.builtin.include_role:
##   name: utilities__pgadmin
##   tasks_from: add_server_definition
#
apiVersion: v1
kind: Secret
metadata:
  name: "{{ pgadmin__serverdef_secret_name }}"
  namespace: "{{ pgadmin__namespace }}"
type: Opaque
stringData: 
  servers.json: |-
    {
      "Servers": {
        "localhost": {
          "Name": "Localhost",
          "Group": "Servers",
          "Port": 5432,
          "Username": "postgres",
          "Host": "localhost",
          "SSLMode": "prefer",
          "MaintenanceDB": "postgres"
        }
      }
    }
