#
# https://www.kristhecodingunicorn.com/post/kubernetes-service-to-proxy-to-external-services/
#

### WE CANNOT USE EndpointSlice, bugs with Nginx Ingress Controller :'(

{# apiVersion: discovery.k8s.io/v1
kind: EndpointSlice
metadata:
  name: webmin
  namespace: default
  labels:
    kubernetes.io/service-name: webmin-svc
addressType: IPv4
ports:
  - name: app
    protocol: TCP
    port: 10000
endpoints:
  - addresses:
      - "{{ private_network_ip }}"
    conditions:
      ready: true
    # hostname: pod-1
    nodeName: node1
    # zone: us-west2-a
--- #}
apiVersion: v1
kind: Endpoints
metadata:
  name: webmin-svc # Must be equal to Service name for automatic mapping
  namespace: default
subsets:
- addresses:
  - ip: {{ private_network_ip }} # IP address of your external service that you would like to proxy requests to
  ports:
  - port: 10000