apiVersion: v1
kind: Service
metadata:
  name: webmin
  namespace: default
  labels:
    app: webmin
spec:
  type: ExternalName
  externalName: {{ webmin_public_hostname }}
  ports:
    - name: "https"
      port: 443
      targetPort: 10000
  selector:
    app: webmin