apiVersion: v1
kind: Secret
metadata:
  name: private-repo-creds
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repo-creds
stringData:
  type: git
  url: {{ iac__github_org_url | quote }}
  githubAppID: "{{ argocd__github_app__app_id | int }}"
  githubAppInstallationID: "{{ argocd__github_app__installation_id | int }}"
  githubAppPrivateKey: |
    {{ argocd__github_app__priv_key | indent(4) }}
---
apiVersion: v1
kind: Secret
metadata:
  name: private-app-of-apps-repository
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: git
  url: "{{ iac__github_org_url }}/{{ argocd__app_of_apps__repo_name }}.git"
  githubAppID: "{{ argocd__github_app__app_id | int }}"
  githubAppInstallationID: "{{ argocd__github_app__installation_id | int }}"
  githubAppPrivateKey: |
    {{ argocd__github_app__priv_key | indent(4) }}
