apiVersion: v1
kind: Service
metadata:
  name: docker-mailserver-autoconfig
  namespace: docker-mailserver
  labels:
    app: docker-mailserver-autoconfig
spec:
  type: LoadBalancer # https://docs.tigera.io/archive/v3.18/networking/advertise-service-ips#before-you-begin
  selector:
    app: docker-mailserver-autoconfig
  ports:
    # smtp
    - name: manifest-app
      port: 8000
      targetPort: manifest-app
      protocol: TCP