apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: kube-system
spec:
  valuesContent: |-
    # To have the original IP in X-Forwarded-For headers
    # And to prefer L2 metalLB advertisement where a Traefik pod is running
    service:
      spec:
        externalTrafficPolicy: Local
    # To make MetalLB use the appropriate pool
    service:
      annotations:
        metallb.universe.tf/address-pool: traefik-pool