apiVersion: v1
kind: Secret
metadata:
  name: "{{ k8s__crunchypgo__s3_backup__secret_name }}"
  namespace: "{{ k8s__crunchypgo__namespace }}"
type: Opaque
stringData:
  AWS_ACCESS_KEY_ID: "{{ k8s__crunchypgo__s3_backup__key_id }}"
  AWS_SECRET_ACCESS_KEY: "{{ k8s__crunchypgo__s3_backup__access_key }}"