##
## This secret is to be duplicated on any namespace a CrunchyData's PGCluster manifest is installed.
## See https://github.com/Qalisa/crunchy-pgo
## Make sure LDAP configuration matches 
## - https://www.pgadmin.org/docs/pgadmin4/latest/ldap.html
## - https://access.crunchydata.com/documentation/postgres-operator/latest/guides/pgadmin/advanced-configuration#ldap-configuration
## - https://github.com/Qalisa/crunchy-pgo/blob/main/.helm/values.yaml
##
apiVersion: v1
kind: Secret
metadata:
  name: "{{ k8s__crunchypgo__ldap__secret_name }}"
  namespace: "{{ k8s__crunchypgo__namespace }}"
type: Opaque
stringData:
  ldap_uri: "{{ openldap_stack__ldap_uri }}"
  bind_dn: "{{ iac__ldap__admin__bind_dn }}"
  bind_pw: "{{ iac__ldap__admin__bind_pw }}"
  search_dn: "{{ iac__ldap__root_dc }}"