apiVersion: v1
kind: Service
metadata:
  name: docker-mailserver-autoconfig
  namespace: docker-mailserver
  labels:
    app: docker-mailserver-autoconfig
  annotations:
    metallb.universe.tf/address-pool: primary
spec:
  selector:
    app: docker-mailserver-autoconfig
  ports:
    # smtp
    - name: manifest-app
      port: 8000
      targetPort: manifest-app
      protocol: TCP