apiVersion: cloudflare.zelic.io/v1alpha1
kind: CloudflareAccessGroup
metadata:
  name: ldap-users
  namespace: "{{ cf_zto__namespace }}"
  annotations:
    # (optional) default: "false"
    #   ensures that the resource isn't removed from cloudflare if the CR is deleted
    cloudflare.zelic.io/prevent-destroy: "false"
spec:
  name: Domain's LDAP Users
  include:
    - emailDomains:
        - "{{ iac__root_domain }}"