apiVersion: cloudflare.zelic.io/v1alpha1
kind: CloudflareAccessGroup
metadata:
  name: accessgroup-root-domain
  namespace: zero-trust-system
  annotations:
    # (optional) default: "false"
    #   ensures that the resource isn't removed from cloudflare if the CR is deleted
    cloudflare.zelic.io/prevent-destroy: "false"
spec:
  name: Ansible CF ZTO Default Rules
  include:
    - emailDomains:
        - "{{ iac__root_domain }}"