apiVersion: v1
metadata:
  name: cloudflare-creds
  namespace: zero-trust-system
kind: Secret
type: Opaque
stringData:
  CLOUDFLARE_ACCOUNT_ID: "{{ iac__cloudflare__account_id }}"
  # Either EMAIL+KEY or TOKEN must be supplied (but still be empty strings)
  CLOUDFLARE_API_EMAIL: ""
  CLOUDFLARE_API_KEY: ""
  CLOUDFLARE_API_TOKEN: "{{ iac__cloudflare__api_token }}"