apiVersion: v1
metadata:
  name: cloudflare-creds
  namespace: zero-trust-system
kind: Secret
type: Opaque
stringData:
  iac__cloudflare__account_id: "{{ iac__cloudflare__account_id }}"
  # Either EMAIL+KEY or TOKEN must be supplied
  # CLOUDFLARE_API_EMAIL: "{{ }}"
  # CLOUDFLARE_API_KEY: "{{ }}"
  iac__cloudflare__api_token: "{{ iac__cloudflare__api_token }}"