apiVersion: v1
metadata:
  name: cloudflare-creds
  namespace: zero-trust-system
kind: Secret
type: Opaque
stringData:
  CLOUDFLARE_ACCOUNT_ID: "{{ cloudflare_account_id }}"
  # Either EMAIL+KEY or TOKEN must be supplied
  # CLOUDFLARE_API_EMAIL: "{{ }}"
  # CLOUDFLARE_API_KEY: "{{ }}"
  CLOUDFLARE_API_TOKEN: "{{ cloudflare_api_token }}"