apiVersion: v1
kind: Secret
metadata:
  name: argocd-image-updater
  namespace: "{{ argo_cd__namespace }}"
type: Opaque
stringData:
  PRIVATE_REGISTRY_V2_AUTH: "{{ harbor__admin_username }}:{{ harbor__admin_password }}"
