apiVersion: apps/v1
kind: Deployment
metadata:
  name: app
  namespace: "{{ k8s__listmonk__namespace }}"
  annotations:
    argocd.argoproj.io/sync-options: Delete=false # prevent deletion of this deployment on argocd chart deletion
spec:
  selector:
    matchLabels:
      app: listmonk
  template:
    metadata:
      labels:
        app: listmonk
    spec:
      restartPolicy: Always
      initContainers:
        - name: database-ready
          image: foobic/pg_isready
          env:
            - name: HOST 
              value: db.listmonk
            - name: RETRIES
              value: "50"
          command: ["/scripts/pg_isready.sh"]
      containers:
        - name: listmonk
          image: listmonk/listmonk:latest
          imagePullPolicy: IfNotPresent
          command: ["/bin/sh","-c"]
          args: ["./listmonk --install --yes --idempotent && ./listmonk --static-dir=/tmp/git/{{ k8s__listmonk__static_dir_repo_name }}"]
          volumeMounts:
            - name: uploads
              mountPath: /listmonk/uploads
              readOnly: false
            - name: static
              mountPath: /tmp/git
              readOnly: true
          envFrom:
            - secretRef:
                name: listmonk-admin
            - configMapRef:
                name: app
          ports:
            - name: app
              containerPort: 9000
              protocol: TCP
      volumes:
        - name: uploads
          persistentVolumeClaim:
            claimName: uploads
        - name: static
          persistentVolumeClaim:
            claimName: listmonk-static