# https://github.com/knadh/listmonk/blob/master/docker-compose.yml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ k8s__listmonk__app_name }}"
  namespace: "{{ k8s__listmonk__namespace }}"
  annotations:
    argocd.argoproj.io/sync-options: Delete=false # prevent deletion of this deployment on argocd chart deletion
spec:
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: "{{ k8s__listmonk__app_name }}"
  template:
    metadata:
      labels:
        app: "{{ k8s__listmonk__app_name }}"
    spec:
      restartPolicy: Always
      initContainers:
        - name: database-ready
          image: alpine/psql:17.5
          command: ["sh", "-c"]
          args:
            - |
              psql "$POSTGRES_URI" -c "SELECT 1;" >/dev/null 2>&1 && echo "Database is available!" || { echo "Database unavailable"; exit 1; }
          env:
            - name: POSTGRES_URI
              valueFrom:
                secretKeyRef:
                  name: "{{ k8s__listmonk__app_name }}"
                  key: LISTMONK_db__uri
      containers:
        - name: listmonk
          image: ghcr.io/knadh/listmonk:v4.1.0
          imagePullPolicy: IfNotPresent
          command: ["/bin/sh", "-c"]
          args: 
            - "./listmonk --install --idempotent --yes --config '' && ./listmonk --upgrade --yes --config '' && ./listmonk --config ''"
          volumeMounts:
            - name: uploads
              mountPath: /listmonk/uploads
              readOnly: false
            - name: static
              mountPath: /tmp/git
              readOnly: true
          envFrom:
            - secretRef:
                name: "{{ k8s__listmonk__app_name }}"
            - configMapRef:
                name: "{{ k8s__listmonk__app_name }}"
          ports:
            - name: "{{ k8s__listmonk__app__port_name }}"
              containerPort: {{ k8s__listmonk__app__port }}
              protocol: TCP
      volumes:
        - name: uploads
          persistentVolumeClaim:
            claimName: "{{ k8s__listmonk__app_name }}-uploads"
        - name: static
          persistentVolumeClaim:
            claimName: listmonk-static