# https://github.com/knadh/listmonk/blob/master/docker-compose.yml
apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ k8s__listmonk__app_name }}"
  namespace: "{{ k8s__listmonk__namespace }}"
  annotations:
    argocd.argoproj.io/sync-options: Delete=false # prevent deletion of this deployment on argocd chart deletion
spec:
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: "{{ k8s__listmonk__app_name }}"
  template:
    metadata:
      labels:
        app: "{{ k8s__listmonk__app_name }}"
    spec:
      restartPolicy: Always
      initContainers:
        - name: database-ready
          image: foobic/pg_isready:latest
          env:
            - name: HOST 
              value: "{{ k8s__listmonk__internal_hostname__db }}"
            - name: RETRIES
              value: "50"
          command: ["/scripts/pg_isready.sh"]
      containers:
        - name: listmonk
          image: ghcr.io/knadh/listmonk:v4.1.0
          imagePullPolicy: IfNotPresent
          command: ["/bin/sh", "-c"]
          args: 
            - "./listmonk --install --idempotent --yes --config '' && ./listmonk --upgrade --yes --config '' && ./listmonk --config ''"
          volumeMounts:
            - name: uploads
              mountPath: /listmonk/uploads
              readOnly: false
            - name: static
              mountPath: /tmp/git
              readOnly: true
          envFrom:
            - secretRef:
                name: "{{ k8s__listmonk__app_name }}"
            - configMapRef:
                name: "{{ k8s__listmonk__app_name }}"
          ports:
            - name: "{{ k8s__listmonk__app__port_name }}"
              containerPort: 9000
              protocol: TCP
      volumes:
        - name: uploads
          persistentVolumeClaim:
            claimName: "{{ k8s__listmonk__app_name }}-uploads"
        - name: static
          persistentVolumeClaim:
            claimName: listmonk-static