apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: listmonk
  namespace: listmonk
  annotations:
    #
    cert-manager.io/cluster-issuer: "{{ cert_manager__org__issuer }}"
    #
    nginx.ingress.kubernetes.io/ssl-redirect: "false" # when using Cloudflare's proxied DNS record
    traefik.ingress.kubernetes.io/service.serversscheme: "http"
    #
    external-dns.alpha.kubernetes.io/hostname: "{{ k8s__listmonk__external_hostname }}"
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
    #
    ingress-dashboard/title: Listmonk
    ingress-dashboard/description: Send email campagns 
    ingress-dashboard/logo-url: /favicon.ico
    ingress-dashboard/assume-tls: "true"
    ingress-dashboard/hide: "false"
spec:
  ingressClassName: "{{ iac__ingress_class_name }}"
  rules:
  - host: "{{ k8s__listmonk__external_hostname }}"
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service: 
            name: app
            port:
              name: app