apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ k8s__listmonk__app_name }}-uploads"
  namespace: "{{ k8s__listmonk__namespace }}"
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
