apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: uploads
  namespace: listmonk
spec:
  storageClassName: {{ iac__local_storage__class_name }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 3Gi
