---
apiVersion: v1
kind: Secret
metadata:
  name: "{{ k8s__listmonk__app_name }}"
  namespace: "{{ k8s__listmonk__namespace }}"
stringData:
  LISTMONK_db__user: "{{ k8s__listmonk__db__user }}"
  LISTMONK_db__password: "{{ k8s__listmonk__db__password }}"
  LISTMONK_ADMIN_USER: "{{ listmonk__admin_username }}"
  LISTMONK_ADMIN_PASSWORD: "{{ listmonk__admin_password }}"