---
apiVersion: v1
kind: Secret
metadata:
  name: listmonk-admin
  namespace: "{{ k8s__listmonk__namespace }}"
stringData:
  LISTMONK_app__admin_username: "{{ listmonk__admin_username }}"
  LISTMONK_app__admin_password: "{{ listmonk__admin_password }}"