apiVersion: v1
kind: Service
metadata:
  name: "{{ k8s__listmonk__app_name }}"
  namespace: "{{ k8s__listmonk__namespace }}"
  labels:
    app: "{{ k8s__listmonk__app_name }}"
spec:
  selector:
    app: "{{ k8s__listmonk__app_name }}"
  ports:
    - name: "{{ k8s__listmonk__app__port_name }}"
      port: 80
      targetPort: "{{ k8s__listmonk__app__port_name }}"
      protocol: TCP