apiVersion: v1
kind: ConfigMap
metadata:
  name: "{{ k8s__ez_appointments__app__name }}"
  namespace: "{{ k8s__ez_appointments__namespace }}"
data:
  BASE_URL: https://{{ k8s__ez_appointments__external_hostname }}
  DB_HOST: "{{ k8s__ez_appointments__db__name }}.{{ k8s__ez_appointments__namespace }}"
  LANGUAGE: french
  DEBUG_MODE: "TRUE"
---
apiVersion: v1
kind: ConfigMap
metadata:
  name: php-config
  namespace: "{{ k8s__ez_appointments__namespace }}"
data:
  email.php: |
    <?php defined('BASEPATH') or exit('No direct script access allowed');

    // Add custom values by settings them to the $config array.
    // Example: $config['smtp_host'] = 'smtp.gmail.com';
    // @link https://codeigniter.com/user_guide/libraries/email.html

    $config['useragent'] = 'Easy!Appointments';
    $config['protocol'] = 'smtp'; // or 'mail'
    $config['mailtype'] = 'html'; // or 'text'
    // $config['smtp_debug'] = '1'; // or '0'
    // $config['smtp_auth'] = TRUE; //or FALSE for anonymous relay.
    // $config['smtp_host'] = '{{ docker_mailserver__internal_smtp_server }}';
    // $config['smtp_user'] = '{{ iac__donotreply_username }}';
    // $config['smtp_pass'] = '{{ iac__donotreply_password }}';
    // $config['smtp_crypto'] = 'tls'; // or 'ssl'
    // $config['smtp_port'] = {{ docker_mailserver__internal_smtp_preferred_port }};
    // $config['from_name'] = '{{ iac__donotreply_name }}';
    // $config['from_address'] = '{{ iac__donotreply_email }}';
    // $config['reply_to'] = '{{ iac__donotreply_email }}';
    $config['crlf'] = "\r\n";
    $config['newline'] = "\r\n";