apiVersion: apps/v1
kind: Deployment
metadata:
  name: "{{ k8s__ez_appointments__app__name }}"
  namespace: "{{ k8s__ez_appointments__namespace }}"
spec:
  replicas: 1
  selector:
    matchLabels:
      app: "{{ k8s__ez_appointments__app__name }}"
  template:
    metadata:
      labels:
        app: "{{ k8s__ez_appointments__app__name }}"
    spec:
      containers:
        - name: "{{ k8s__ez_appointments__app__name }}"
          image: alextselegidis/easyappointments:latest
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: php-config
              mountPath: /var/www/html/application/config/email.php
              subPath: email.php
              readOnly: true
          ports:
            - name: app
              containerPort: 80
              protocol: TCP
          envFrom:
            - secretRef:
                name: "{{ k8s__ez_appointments__app__name }}"
            - configMapRef:
                name: "{{ k8s__ez_appointments__app__name }}"
      restartPolicy: Always
      volumes:
        - name: php-config
          configMap:
            name: "{{ k8s__ez_appointments__app__name }}.php-config"
            items:
              - key: email.php
                path: email.php