---
apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: "{{ k8s__ez_appointments__app__name }}"
  namespace: "{{ k8s__ez_appointments__namespace }}"
  annotations:
    ingress-dashboard/title: Easy! Appointments
    ingress-dashboard/description: Allow people to apply for appointments
    ingress-dashboard/logo-url: /assets/img/favicon.ico
    ingress-dashboard/assume-tls: "true"
    ingress-dashboard/hide: "false"
    #
    external-dns.alpha.kubernetes.io/hostname: "{{ k8s__ez_appointments__external_hostname }}"
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
spec:
  rules:
    - host: "{{ k8s__ez_appointments__external_hostname }}"
      http:
        paths:
          - path: /
            pathType: ImplementationSpecific
            backend:
              service:
                name: "{{ k8s__ez_appointments__app__name }}"
                port:
                  name: app