apiVersion: v1
kind: Secret
metadata:
  name: "{{ k8s__ez_appointments__app__name }}"
  namespace: "{{ k8s__ez_appointments__namespace }}"
type: Opaque
stringData:
    DB_USERNAME: root
    DB_NAME: "{{ k8s__ez_appointments__mysql_db__name }}"
    DB_PASSWORD: "{{ k8s__ez_appointments__mysql_db__password }}"
