apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-api-creds
  namespace: "{{ k8s__external_dns__namespace }}"
type: Opaque
stringData:
    # either token, or key / email
    apiToken: "{{ iac__cloudflare__api_token }}"
    # YOUR_CLOUDFLARE_API_KEY
    # CF_API_KEY: 
    # YOUR_CLOUDFLARE_EMAIL
    # CF_API_EMAIL: