apiVersion: v1
kind: Secret
metadata:
  name: external-dns-cf
  namespace: external-dns
type: Opaque
stringData:
    # YOUR_CLOUDFLARE_API_KEY
    CF_API_KEY: "{{ cloudflare_api_token }}"
    # YOUR_CLOUDFLARE_EMAIL
    CF_API_EMAIL: "{{ cloudflare_account_email }}"