apiVersion: v1
kind: Secret
metadata:
  name: "{{ k8s__longhorn__backup_credentials__secret_name }}"
  namespace: "{{ k8s__longhorn__namespace }}"
stringData:
  AWS_ACCESS_KEY_ID: "{{ k8s__longhorn__s3_backup__key_id }}"
  AWS_SECRET_ACCESS_KEY: "{{ k8s__longhorn__s3_backup__access_key }}"
  AWS_ENDPOINTS: "{{ k8s__longhorn__s3_backup__endpoint }}"
