apiVersion: v1
kind: Secret
metadata:
  name: "{{ k8s__longhorn__backup_credentials__secret_name }}"
  namespace: "{{ k8s__longhorn__namespace }}"
stringData:
  AWS_ACCESS_KEY_ID: "{{ longhorn__backup_storage__key_id }}"
  AWS_SECRET_ACCESS_KEY: "{{ longhorn__backup_storage__access_key }}"
  AWS_ENDPOINTS: "{{ longhorn__backup_storage__endpoint }}"
