apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: traefik-dashboard
  namespace: "{{ base__k3s__default_namespace }}"  # Replace with the namespace where Traefik is installed
  annotations:
    #
    external-dns.alpha.kubernetes.io/hostname: traefik.{{ iac__root_domain }}
    external-dns.alpha.kubernetes.io/cloudflare-proxied: "true"
    #
    ingress-dashboard/title: Traefik Dashboard
    ingress-dashboard/description: Give precise insights on Ingress configuration and usage
    ingress-dashboard/logo-url: /favicon.ico
    ingress-dashboard/assume-tls: "true"
    ingress-dashboard/hide: "false"
spec:
  rules:
  - host: traefik.{{ iac__root_domain }}  # Replace with your domain
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service:
            name: traefik-dashboard
            port:
              name: traefik
