apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: traefik
  namespace: "{{ base__k3s__default_namespace }}"
spec:
  valuesContent: |-
    service:
      spec:
        externalTrafficPolicy: Local
      annotations:
        metallb.io/address-pool: traefik-pool
    additionalArguments:
      - "--api"
      - "--api.dashboard=true"
      - "--api.insecure=true"
    {# ports:
      traefik:
        expose:
            default: true #}
      {# web:
        redirections:
          entryPoint:
            to: websecure
            scheme: https #}