apiVersion: cert-manager.io/v1
kind: ClusterIssuer
metadata:
  name: zerossl-prod
spec:
  acme:
    # ZeroSSL ACME server
    server: https://acme.zerossl.com/v2/DV90
    email: "{{ k8s__cert_manager__acme_email }}"
    # name of a secret used to store the ACME account private key
    privateKeySecretRef:
      name: zerossl-prod
    # for each cert-manager new EAB credencials are required
    externalAccountBinding:
      keyID: "{{ cert_manager__zerossl__eab_kid }}"
      keySecretRef:
        name: zero-ssl-eabsecret
        key: secret
      keyAlgorithm: HS256
    solvers:
      - dns01:
          cloudflare:
            apiTokenSecretRef:
              name: "{{ k8s__cert_manager__dns01__solver_secret }}"
              key: "{{ k8s__cert_manager__dns01__solver_secret_key }}"