apiVersion: v1
kind: ConfigMap
metadata:
  name: registry__images-server-config
  namespace: "{{ docker_registry__namespace }}"
data:
  config.yml: |-
    health:
      storagedriver: {enabled: true, interval: 10s, threshold: 3}
    http:
      addr: :5000
      tls:
        certificate: /certs/tls.crt
        key: /certs/tls.key
      headers:
        X-Content-Type-Options: [nosniff]
    log:
      fields: {service: registry}
    storage:
      cache: {blobdescriptor: inmemory}
    version: 0.1