apiVersion: trust.cert-manager.io/v1alpha1
kind: Bundle
metadata:
  name: "{{ cert_manager__org__root_ca__bundle }}"
spec:
  sources:
    - useDefaultCAs: true # include default trusted CAs
    # include our own root
    - secret:
        name: "{{ cert_manager__org__root_ca }}"
        key: ca.crt
  target:
    secret:
      key: ca.crt
    # make it available to namespaces with said labels
    namespaceSelector:
      matchLabels:
        trust: enabled
