apiVersion: trust.cert-manager.io/v1alpha1
kind: Bundle
metadata:
  name: "{{ cert_manager__org_ca__cert_secret_name }}"
spec:
  sources:
    - useDefaultCAs: true
    - secret:
        name: "ca-secret.{{ cert_manager__org_ca__name }}"
        key: ca.crt
  target:
    secret:
      key: ca.crt
    namespaceSelector:
      matchLabels:
        trust: enabled
