apiVersion: externaldns.k8s.io/v1alpha1
kind: DNSEndpoint
metadata:
  name: spf-mconf-entries
  namespace: "{{ docker_mailserver__namespace }}"
spec:
  endpoints:
    - dnsName: "@"
      recordTTL: 1                # 1 is the "Auto" TTL value for Cloudflare
      recordType: TXT
      targets:
        - v=spf1 mx ~all # SPF
    - dnsName: "@"
      recordTTL: 1                # 1 is the "Auto" TTL value for Cloudflare
      recordType: TXT
      targets:
        - mailconf=https://{{ k8s__docker_mailserver__external_hostname__autoconfig }}/mail/config-v1.1.xml # mailconf