apiVersion: v1
kind: PersistentVolume
metadata:
  name: registry-images-server
  labels:
    type: local
spec:
  storageClassName: "{{ k8s__harbor__storage_class_name }}"
  capacity:
    storage: "{{ k8s__harbor__storage_capacity }}"
  local:
    path: {{ iac__pv_path__harbor }}
  persistentVolumeReclaimPolicy: Retain
  accessModes:
    - ReadWriteOnce #
  nodeAffinity:
    required:
      nodeSelectorTerms:
        - matchExpressions:
          - key: kubernetes.io/hostname
            operator: In
            values:
              - {{ iac__master_node_name }}