apiVersion: cloudflare.zelic.io/v1alpha1
kind: CloudflareAccessApplication
metadata:
  name: "{{ k8s__portainer_ce__external_hostname }}"
  namespace: "{{ cf_zto__namespace }}"
  annotations:
    # (optional) default: "false"
    #   ensures that the resource isn't removed from cloudflare if the CR is deleted
    cloudflare.zelic.io/prevent-destroy: "false"
spec:
  name: "{{ k8s__portainer_ce__external_hostname }}"
  domain: "{{ k8s__portainer_ce__external_hostname }}"
  autoRedirectToIdentity: false # allow multiple providers to be displayed on appLauncher 
  appLauncherVisible: true
  type: self_hosted
  sessionDuration: 24h
  enableBindingCookie: true
  httpOnlyCookieAttribute: true
  logoUrl: "https://www.cloudflare.com/img/logo-web-badges/cf-logo-on-white-bg.svg"
  policies: 
    - name: Allow my rules
      decision: allow
      include:
        - accessGroups:
          - value: "ldap-users"