apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: "{{ k8s__calcom__app__name }}"
  namespace: "{{ k8s__calcom__namespace }}"
spec:
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: 8Gi