apiVersion: v1
kind: Secret
metadata:
  name: "{{ k8s__calcom__app__name }}"
  namespace: "{{ k8s__calcom__namespace }}"
stringData:
  #
  DATABASE_HOST: "{{ k8s__calcom__postgres__internal_hostname }}"
  DATABASE_URL: "{{ k8s__calcom__postgres__db_base_uri }}/{{ k8s__calcom__postgres__db_name }}"
  #
  NEXT_PUBLIC_WEBAPP_URL:  https://{{ k8s__calcom__external_hostname }}
  NEXT_PUBLIC_WEBSITE_URL: https://{{ k8s__calcom__external_hostname }}
  NEXT_PUBLIC_API_V2_URL: https://{{ k8s__calcom__external_hostname }}/api/v2

  #
  ALLOWED_HOSTNAMES: '"{{ iac__root_domain }}","{{ k8s__calcom__namespace }}.{{ iac__svc_cluster_host }}"'
  NEXT_PUBLIC_LICENSE_CONSENT: 'agree'

  # It is highly recommended that the NEXTAUTH_SECRET must be overridden and very unique
  # Use `openssl rand -base64 32` to generate a key
  NEXTAUTH_SECRET: "{{ calcom__auth_secret }}"

  # Encryption key that will be used to encrypt CalDAV credentials, choose a random string, for example with `dd if=/dev/urandom bs=1K count=1 | md5sum`
  CALENDSO_ENCRYPTION_KEY: "{{ calcom__calendso_encryption_key }}"

  #
  NEXT_PUBLIC_COMPANY_NAME: "{{ iac__ldap_org }}"
  NEXT_PUBLIC_APP_NAME: "Cal.com - {{ iac__ldap_org }}"
  NEXT_PUBLIC_SUPPORT_MAIL_ADDRESS: "{{ iac__postmaster_email }}"
  NEXT_PUBLIC_DISABLE_SIGNUP: 'true'

  #
  NEXTAUTH_ENABLED: "true"
  NEXTAUTH_URL: https://{{ k8s__calcom__external_hostname }}
  OIDC_CLIENT_ID: "{{ k8s__calcom__dex__oidc_id}}"
  OIDC_CLIENT_SECRET: "{{ k8s__calcom__dex__oidc_secret }}"
  OIDC_ISSUER: http://{{ k8s__calcom__dex__internal_hostname }}

  #
  CALCOM_TELEMETRY_DISABLED: '1'

  #
  # Configures the global From: header whilst sending emails.
  EMAIL_FROM: "{{ iac__donotreply_email }}"
  EMAIL_FROM_NAME: "{{ iac__donotreply_email }}"

  # Configure SMTP settings
  EMAIL_SERVER_HOST: "{{ docker_mailserver__external_hostname }}" # must use external hostname until (https://github.com/calcom/cal.com/issues/19961) is fixed
  EMAIL_SERVER_PORT: "{{ docker_mailserver__internal_smtp_preferred_port }}"
  EMAIL_SERVER_USER: "{{ iac__donotreply_username }}"
  EMAIL_SERVER_PASSWORD: "{{ iac__donotreply_password }}"

  ### SAML IS FOR ENTREPRISE LICENSE
  # To enable SAML login, set both these variables
  # @see https://github.com/calcom/cal.com/tree/main/packages/features/ee#setting-up-saml-login
  # SAML_DATABASE_URL="postgresql://postgres:@localhost:5450/cal-saml"
  # SAML_DATABASE_URL: "{{ k8s__calcom__postgres__db_base_uri }}/{{ k8s__calcom__saml_db_name }}?sslmode=disable"
  # SAML_ADMINS='pro@example.com'
  # SAML_ADMINS: "{{ iac__postmaster_email }}"
