apiVersion: trust.cert-manager.io/v1alpha1
kind: Bundle
metadata:
  name: "{{ org_ca_cert_secret_name }}"
spec:
  sources:
    - useDefaultCAs: false
    - secret:
        name: "ca-secret.{{ org_ca_name }}"
        key: ca.crt
  target:
    secret:
      key: ca.crt
    namespaceSelector:
      matchLabels:
        trust: enabled
