apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  namespace: default
  name: webmin
  annotations:
    kubernetes.io/ingress.class: "nginx"
    cert-manager.io/cluster-issuer: "letsencrypt"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  tls:
  - hosts:
    - {{ webmin_public_hostname }}
    secretName: webmin-certs
  rules:
  - host: {{ webmin_public_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service: 
            name: webmin
            port:
              number: 443