apiVersion: v1
kind: Secret
metadata:
  name: "{{ k8s__github_push_secrets_operator__global_secvar_name }}"
  namespace: "{{ k8s__github_push_secrets_operator__namespace }}"
type: Opaque
stringData:
  DOCKER_PRIVATE_REGISTRY_PASSWORD: "{{ harbor__admin_password }}"
  DOCKER_PRIVATE_REGISTRY_USERNAME: "{{ harbor__admin_username }}"
  ARGOCD_SYNCER_TOKEN: "{{ github_syncer__jwt_token }}"