apiVersion: v1
kind: ConfigMap
metadata:
  name: db
  namespace: "{{ k8s__listmonk__namespace }}"
immutable: false
data:
  POSTGRES_PASSWORD: listmonk
  POSTGRES_USER: listmonk
  POSTGRES_DB: listmonk
