apiVersion: apps/v1
kind: Deployment
metadata:
  name: db
  namespace: "{{ k8s__listmonk__namespace }}"
spec:
  selector:
    matchLabels:
      app: listmonk-db
  template:
    metadata:
      labels:
        app: listmonk-db
    spec:
      containers:
        - name: listmonk-db
          image: postgres:13-alpine
          imagePullPolicy: IfNotPresent
          volumeMounts:
            - name: data
              mountPath: "{{ iac__pv_path__listmonk__db }}"
              readOnly: false
          ports:
            - name: db
              containerPort: 5432
              protocol: TCP
          envFrom:
            - configMapRef:
                name: db
      restartPolicy: Always
      volumes:
        - name: data
          persistentVolumeClaim:
            claimName: db
