apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db
  namespace: listmonk
spec:
  storageClassName: {{ local_storage_class_name }}
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi