apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: db
  namespace: listmonk
spec:
  storageClassName: "{{ iac__local_storage__class_name }}"
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi