apiVersion: v1
kind: Service
metadata:
  name: db
  namespace: "{{ k8s__listmonk__namespace }}"
  labels:
    app: listmonk-db
spec:
  type: ClusterIP
  selector:
    app: listmonk-db
  ports:
    # smtp
    - name: db
      port: 5432
      targetPort: db
      protocol: TCP