---
apiVersion: v1
kind: Secret
metadata:
  name: myminio-env-configuration
  namespace: minio-tenant
stringData:
  config.env: |-
    export MINIO_ROOT_USER={{ minio__tenant__username }}
    export MINIO_ROOT_PASSWORD={{ minio__tenant_password }}