apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: webmin
  namespace: webmin
  annotations:
    kubernetes.io/ingress.class: "{{ ingress_nginx_class }}"
    cert-manager.io/cluster-issuer: "{{ cluster_issuer_name }}"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  tls:
  - hosts:
    #  - "*.{{ root_domain }}"
    # secretName: nw-wildcard-certs
       - {{ webmin_public_hostname }}
    secretName: webmin-certs
  rules:
  - host: {{ webmin_public_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service: 
            name: webmin
            port:
              number: 443