apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: webmin
  namespace: webmin
  annotations:
    # when using Cloudflare's proxied DNS record
    nginx.ingress.kubernetes.io/ssl-redirect: "false"
    cert-manager.io/cluster-issuer: "{{ org_ca_name }}"
    nginx.ingress.kubernetes.io/backend-protocol: "HTTPS"
spec:
  ingressClassName: "{{ ingress_nginx_class }}"
  rules:
  - host: {{ webmin_public_hostname }}
    http:
      paths:
      - path: /
        pathType: Prefix
        backend:
          service: 
            name: webmin
            port:
              number: 443