{# https://argo-cd.readthedocs.io/en/stable/operator-manual/notifications/templates/#functions #}
{# https://pkg.go.dev/html/template #}
{# https://github.com/Qalisa/IaC/issues/19 #}
{# https://argo-cd.readthedocs.io/en/stable/operator-manual/notifications/services/github/#templates #}
message: |-
  [[ item.value.message ]]
github:
  status:
    state: [[ item.value.github.status.state ]]
    label: "continuous-delivery/{{.app.metaitem.name}}"
    targetURL: "{{.context.argocdUrl}}/applications/{{.app.metaitem.name}}?operation=true"
  pullRequestComment:
    content: |-
      [[ item.value.github.pullRequestComment.content ]]