apiVersion: v1
kind: Secret
metadata:
  name: argo-watcher
  namespace: "{{ argo_cd__namespace }}"
type: Opaque
data: # use data here instead of stringData, because raw token is already in base64
  ARGO_TOKEN: "{{ jwt_token }}"
