message: |-
  [[ item.value.message ]]
github:
  repoURLPath: "{{.app.spec.source.repoURL}}"
  revisionPath: "{{.app.status.operationState.syncResult.revision}}"
  status:
    state: [[ item.value.github.status.state ]]
    label: "continuous-delivery/{{.app.metaitem.name}}"
    targetURL: "{{.context.argocdUrl}}/applications/{{.app.metaitem.name}}?operation=true"
  deployment:
    state: [[ item.value.github.deployment.state ]]
    environment: {{ index .app.metaitem.annotations "github.notifications.argoproj.io/environment" | default "unknown" | quote }}
    environmentURL: {{ index .app.metaitem.annotations "github.notifications.argoproj.io/environment-url" | default "unknown" | quote }}
    reference: {{ index .app.metaitem.annotations "github.notifications.argoproj.io/revision" | default "unknown" | quote }}
    logURL: "{{.context.argocdUrl}}/applications/{{.app.metaitem.name}}?operation=true"
    requiredContexts: []
    autoMerge: true
    transientEnvironment: false
  pullRequestComment:
    content: |-
      [[ item.value.github.pullRequestComment.content ]]