apiVersion: v1
kind: Secret
metadata:
  name: cloudflare-origin-cert
  namespace: "{{ k3s__default_namespace }}"
type: kubernetes.io/tls
data:
  tls.crt: "{{ iac__cloudflare__origin_ca__cert | b64encode }}"
  tls.key: "{{ iac__cloudflare__origin_ca__priv_key | b64encode }}"
