# api_version: v1 # Not needed ?
kind: Namespace
metadata:
    name: "{{ argocd__namespace }}"
    labels:
      # makes the default Org Root CA available within this namespace's Secrets
      trust: enabled