apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: app-of-apps
  namespace: "{{ argocd__namespace }}"
  annotations:
    notifications.argoproj.io/subscribe.on-sync-running.github: ""
    notifications.argoproj.io/subscribe.on-sync-failed.github: ""
    notifications.argoproj.io/subscribe.on-sync-succeeded.github: ""
    notifications.argoproj.io/subscribe.on-sync-status-unknown.github: ""
    notifications.argoproj.io/subscribe.on-deployed.github: ""
    #
    github.notifications.argoproj.io/environment: main
    github.notifications.argoproj.io/environment-url: "https://{{ k8s__argocd__external_hostname }}"
    github.notifications.argoproj.io/revision: main
  finalizers:
  - resources-finalizer.argocd.argoproj.io # https://argo-cd.readthedocs.io/en/stable/operator-manual/cluster-bootstrapping/#cascading-deletion
spec:
  destination:
    namespace: "{{ argocd__namespace }}"
    server: https://kubernetes.default.svc
  project: "{{ argocd__project_name }}"
  source:
    path: apps
    repoURL: "{{ iac__github_org_url }}/{{ argocd__app_of_apps__repo_name }}"
    targetRevision: HEAD
  syncPolicy:
    automated: {}
    syncOptions:
    # - Validate=false # disables resource validation (equivalent to 'kubectl apply --validate=true')
    - CreateNamespace=true # Namespace Auto-Creation ensures that namespace specified as the application destination exists in the destination cluster.
